@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Przeglądaj najlepsze wyniki swoich działań, wprowadzaj swoje dane i działania oraz przeglądaj ranking najlepszych wyników.
    </p>
</div>
